@{
    ViewData["Title"] = "Home Page";
}

    <article id="app">
        <header></header>
        <nav class="col-md-9 navbar navbar-default">
            <div class="navbar-fluid">

                <ul class="nav navbar-nav" style="flex-direction: row;">
                    <li v-for="item in productTypes" v-on:click="fetchProducts(item.name)" style="cursor:pointer; margin-right: 50px">
                        <span>{{item.nameForView}}</span>
                    </li>
                </ul>
            </div>
        </nav>



        <div >

            <div class="fotos" v-for="product in products">
                <img :src="`https://localhost:44378/api/product/imagebyid/${product.id}`" class="fotosProduct" />
                <h3 v-on:click="">{{ product.name}}</h3>
                <p>{{product.description}}</p>
                <p>Meer details</p>
            </div>

        </div>

        @*<div class="fotos">
            <img class="fotosHotel" src="~/images/hotels/@hotel.Photo" alt="@hotel.Name" />
            <h3>@hotel.Name <img src="~/images/sterren/@(hotel.Stars).jpg" alt="@hotel.Stars" /></h3>
            <h4>@city.Name</h4>
            <p>@hotel.Description</p>

            <p><a asp-controller="Hotel" asp-action="HotelDetails" asp-route-id="@hotel.Id">Meer details</a> </p>

        </div>*@


        <div id="details">





        </div>
    </article>
@section scripts {
    <script src="~/lib/vue/vue.js">
    </script>

<script>

    var apiurl ='https://localhost:44378/api/product';
        var app = new Vue({

            el: '#app',
            data: {
               
                products: null,
                productTypes: [{ "nameForView": "Alle Producten", "name": "product" },
                               { "nameForView": "Cds", "name": "Cd" },
                               { "nameForView": "Instrumenten", "name": "Instrument" },
                               { "nameForView": "Partituren", "name": "score" }]
            },


            created: function () {
                var self = this;
                self.fetchProducts("product");

            },

            methods: {  
                fetchProducts: function (type) {
                                           
                    self = this;
                    if (type == "product") {
                        fetch(`${apiurl}`)
                        .then(res => res.json())
                         .then(function (products) {
                          self.products = products;
                                })
                     .catch(error => console.log(error))
                    }
                    else 
                    fetch(`${apiurl}/detailByType/${type}`)                    
                    .then(res => res.json())
                    .then(function (products) {
                                    self.products = products;
                                })
                     .catch(error => console.log(error))
                      
                },

                fetchImage: function (imgId) {
                    fetch(`${apiurl}/ImageById/${imgId}`)
                    then(image => images = image);
                }
                    
            }
                                 
        });

    </script>

}

@*<style>
.fotos {
    height: 250px;
    width: 95%;
    border: 1px solid #000;
    margin:15px 5px 15px 5px;
    padding:5px;

}
.fotosHotel {
    height:200px;
    width:250px;
    margin:15px 10px 5px 5px;
    float:left;
}

</style>*@
